@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --very-dark-destaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    --divider: hsl(240, 5%, 91%);
}
body
{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
h1
{
    margin-bottom: 32px;
    font-weight: 700;
    color: var(--very-dark-destaturated-blue);
}
p
{
    font-weight: 400;
    font-size: 14px;
    color: var(--very-dark-grayish-blue);
}

.position-relative{position: relative;}
.title
{
    color: var(--very-dark-grayish-blue);
    font-weight: 500;
}
.title:hover
{
    color: var(--soft-red);
}
.visible{visibility: visible;}


.container
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsl(273, 75%, 66%) 0%,  hsl(240, 73%, 65%) 100%);
}
.questions
{
    height: 350px;
    width: 45%;
    margin: 0 0 0 auto;
    transform: translateY(25%);
    margin-right: 20px;
}

.header-question
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-question:hover
{
    cursor: pointer;
}
.question
{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--divider);
}
.msg
{
    /* transform: translateY(-20px); */
    /* visibility: hidden; */
    margin-top: 11px;
    transition: 0.5s;
    overflow: hidden;
    height: 0;
}

main
{
    width: 920px;
    height: 509px;
    border-radius: 30px;
    background-color: #fff;
    background-image: url(../../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    /* background-position: -94px -16px;
    background-size: 505px; */
    background-position: -373px -160px;
    background-size: 760px;
}
.card-image
{
    position: absolute;
    overflow: hidden;
}
.card-box
{
    top: 43%;
    left: -93px;
    z-index: 2;
}
.card-women
{
    top: 14%;
    z-index: 1;
}
#woman-desktop
{
    left: -70px;
}
#woman-phone
{
    display: none;
}

@media screen and (max-width: 1000px) 
{
    main
    {
        width: 325px;
        height: 535px;
        background-position: 45px -131px;
        background-size: 230px;
        margin-top: 60px;
    }
    #woman-desktop
    {
        display: none;
    }
    .card-box 
    {
        display: none;
    }
    .card-women
    {
        top: -21%;
        left: 12px;
    }
    h1
    {
        text-align: center;
    }
    p
    {
        font-size: 13px;
    } 
    .questions
    {
        width: 90%;
        transform: translateY(35%);
    }
    #woman-phone
    {
        display: block;
    }
}